<div class="container login-cont">
    <div class="row">
        <div class="col-md-9">
            <div class="card login-card">
                <div class="card-header"><strong>Login to Food Menu</strong></div>
            <form [formGroup]="loginForm" class="form-group" (ngSubmit)="login()">
                <!-- Display Login Page -->
                <table class="table table-striped">
                    <tr>
                        <td><label for="username">User Name:</label>
                            </td>
                        <td><input type="text" class="form-control" formControlName="username" id="username" autocomplete="off"
                            [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }" placeholder="Enter User Name"/>
                            <div *ngIf="submitted && loginForm.controls.username.errors && loginForm.controls.username.errors.required" class="text-danger">User Name is required</div></td>
                    </tr>
                    <tr>
                        <td><label for="pwd">Password:</label>
                            </td>
                        <td><input type="password" class="form-control" formControlName="password" id="pwd"
                            [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" placeholder="Enter Password"/>
                            <div *ngIf="submitted && loginForm.controls.password.errors && loginForm.controls.password.errors.required" class="text-danger">Password is required</div>
                            <div *ngIf="submitted && invalidCred && !loginForm.controls.password.errors" class="text-danger">Invalid User Name or Password.</div></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-primary btn-sm">Login</button>
                            &nbsp;&nbsp;&nbsp;<a [routerLink]="['/register']" class="registerBtn">Register here</a>
                    </tr>
                </table>
            </form>
        </div>
        </div>
        </div>
</div>