.table{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
  }

 .borderless td, .borderless th {
  border: none;
}

::ng-deep .cofirm-modal{
  margin-top: 15% !important;
  margin-left: 23% !important;
}

.fContainer{
  width: 50%;
}
.fMenu-card{
  margin-top: 1%;
}
table>tbody>tr>td>i{
  font-size: small;
}
table>tbody>hr{
  border:0.8px solid gray; 
  width:150%
}
.delivery-price{
  color: green;
}
.order-btn{
  align-self: center;
}
.order-btn>button{
  margin-bottom: 5%; 
  background-color: orange; 
  border-color: orange;
}