<div class="container fContainer">
  <div class="row">
    <div class="col-md-9">
      <div class="card fMenu-card">
        <!-- Default panel contents -->
        <div class="card-header">View Cart</div>

        <ul class="list-group list-group-flush">

          <table class="table table-striped">
          </table>
          <table class="table">
            <div *ngFor="let item of selectedFoodItems; let i = index">
              <tbody>
                <tr>
                  <td>
                    <img *ngIf="item.type === 'veg'" src="../../assets/veg-icon.jpeg"/>
                    <img *ngIf="item.type === 'non-veg'" src="../../assets/non-veg-icon.png"/> &nbsp;&nbsp;&nbsp;<span
                      >{{item.text}}</span><br>
                    <i class="fa fa-rupee item-price"></i>
                    <span>{{item.price}}</span><br>
                  </td>
                  <!-- <td><button class="btn btn-outline-success btn-sm" (click)="onClickAdd(j, $event)" [disabled]="addButtonFlag[j]">Add</button></td> -->
                  <td>
                    <div>
                      <button class="btn btn-outline-success btn-sm"
                        (click)="onClickMinus(item)">-</button>&nbsp;&nbsp;{{item.quantity}}&nbsp;
                      <button class="btn btn-outline-success btn-sm" (click)="onClickPlus(item)">+</button>
                    </div>
                    <!-- <input type="button" value="+" data-field="quantity"> -->

                  </td>
                </tr>
              </tbody>
            </div>
            <br>
            <div class="add-more">
              <!-- <a href="" routerLink="/restaurants"><strong>+ Add more items</strong></a> -->
              <a href="{{'/food-menu/'+foodServ.selectedRestaurant.restaurantId}}" (click)="addMoreItems($event)"><strong>+ Add more items</strong></a>
              <hr>
              <button class="btn-coupon" (click)="onCouponBtn()">
              <i class="fa fa-hand-o-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Apply
                Coupons</strong></button>
              <label class="avail-coup">3 Available ></label>
              <hr>
            </div>
            <div *ngIf="apCouponClicked">
              <div class="radio">
                <label><input type="radio" name="optradio" (click)="onOfferSelect(70)" value="70" checked>&nbsp;Use HDFC & get Rs.70 off</label>
              </div>
              <div class="radio">
                <label><input type="radio" value="100" (click)="onOfferSelect(100)" name="optradio">&nbsp;Use CITIFRI & get Rs.100 off</label>
              </div>
              <div class="radio disabled">
                <label><input type="radio" value="80" (click)="onOfferSelect(80)" name="optradio">&nbsp;Use ICICIGET & get Rs.80 off</label>
              </div>
            </div>
          </table>
          <hr>
          <button class="btn btn-danger btn-sm place-order" [routerLink]="['/orderSummary']">Place Order</button>
        </ul>

      </div>
    </div>
  </div>
</div>