.table{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
  }

  .fContainer{
    width: 50%;
  }
  .fMenu-card{
    margin-top: 1%;
  }

  .btn-coupon .table>div{
    display: contents;
  }
  .btn-coupon{
    display: contents;
  }
  img{
    width: 5%;
  }
  span{
    font-size: small;
  }
  .item-q{
    display: flex;
    //margin-left: 10%;
  }
  .add-more{
    width: 150%;
  }
  .btn-coupon>i{
    color: green;
  }
  .avail-coup{
    padding-left: 25%;
  }
  .item-price{
    font-size: small; 
    padding-left: 12%;
  }
  .place-order{
    width: 25%; 
    align-self: center; 
    margin-bottom: 5%;
    background-color: orange; 
    border-color: orange;
  }
  