/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "~ngx-smart-modal/ngx-smart-modal";

body {
    padding-top: 56px;
    background-color: steelblue;
    font-size: 1rem;
  }

// .template {
//     padding: 3rem 1.5rem;
//     text-align: center;
//     background-color: steelblue;
//   }