
.table{
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}
/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 43px;
    height: 20px;
    margin-top: 1.6%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input.default:checked + .slider {
    background-color: #444;
  }
  input.primary:checked + .slider {
    background-color: #2196F3;
  }
  input.success:checked + .slider {
    background-color: #8bc34a;
  }
  input.info:checked + .slider {
    background-color: #3de0f5;
  }
  input.warning:checked + .slider {
    background-color: #FFC107;
  }
  input.danger:checked + .slider {
    background-color: #f44336;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .list-group-item{
    border: none;
  }

  .borderless td {
    border: none;
  }
  .fContainer{
    width: 50%;
  }
  .fRestaurantList{
    margin-top: 1%;
  }
  .table>div{
    display: contents;
  }
  .chevron{
    cursor: pointer;
  }
  .chevron>a>i{
    color: black; 
    padding-left: 25%;
  }
  img{
    width: 100%;
  }
  span{
    font-size: small;
  }
  .view-menu{
    width: 100%; 
    align-self: stretch;
    margin-bottom: 5%;
    background-color: orange; 
    border-color: orange;
  }
  .row{
	  margin-bottom: 10%;
  }